# clang-format configuration file
#
---
BasedOnStyle: LLVM

TabWidth: 4
UseTab: Never

ReflowComments: true

NamespaceIndentation: Inner
IndentWidth: 4
IndentPPDirectives: None

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

BreakStringLiterals: true
BreakBeforeBraces: Mozilla  # Perhaps Linux ? Will have to see later...

AlignOperands: true
AlignAfterOpenBracket: true

AllowShortFunctionsOnASingleLine: Empty
...
